<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="template" >
<head>
<meta charset="utf-8" />
<title>Enterprise</title>
</head>
<body>

  <div layout:fragment="content" class="container">

      <div class="panel panel-primary">
        <div class="panel-heading">List of enterprises</div>
        <div class="panel-body">
          <div class="container">
            <form th:action="@{/tax}" method="get" id="myForm">
             <label>Enterprise:</label>
             <select name="code" onchange="document.getElementById('myForm').submit" >
               <option th:each="e:${enterprise}" th:text="${e.name}" th:value="${e.code}"></option>
             
             </select>
             <button type="submit" class="btn btn-primary">Search </button>
            </form>
          
          </div>
        
           <table class="table table-striped">

			<tr>
				<th>id:</th>
				<th>title:</th>
				<th>dateTax:</th>
				<th>balance</th>
				<th>Type:</th>
			</tr>
			<tr th:each="t:${taxes}">
				<td th:text="${t.id}"></td>
				<td th:text="${t.title}"></td>
				<td th:text="${t.dateTax}"></td>
				<td th:text="${t.balance}"></td>
				<td th:text="${t.class.simpleName}"></td>
			</tr>

		</table>
		<div>
		  <ul class="nav nav-pills">
		    <li th:Class="${status.index==pageCurrent}?'active':'' " th:each="p,status:${pages}">
		        <a th:href="@{/enterprise(page=${status.index},size=4)}" th:text="${status.index}"></a>
		    </li>
		  </ul>
		</div>
        
        </div>
      
      </div>


		

	</div>

</body>
</html>